# =========================
# Virtual Environments
# =========================
.venv/
venv/
env/

# =========================
# Python Cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Large Model Files
# =========================
models/*
!models/.gitkeep

# =========================
# Logs
# =========================
*.log

# =========================
# Windows System Files
# =========================
Thumbs.db
desktop.ini

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/

# =========================
# Build Files
# =========================
build/
dist/
*.egg-info/
